// google and fontawesome link 
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Lato:ital@1&family=Open+Sans:ital,wght@1,500&family=Poppins:wght@400;500&family=Public+Sans:wght@500;570&family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500&display=swap');

// css start
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
}

// css variable

$ubuntu : 'ubuntu', sans-serif;

// loading page ---------------------------------->
#loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #fff url('https://i.ibb.co/xHC6Rxj/Simple-preloader.gif') no-repeat center center;
    background-size: 10%;
}

// main css ---------------------------------->

.main_header{
    width: 100%;
    height: 100%;

    .child_header{
        width: 100%;
        height: 100%;
        background: url('https://i.ibb.co/yW7zQKh/5566879.jpg') no-repeat center center;
        background-size: cover;
        position: relative;

        #navigation{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 10px 100px;
            transition: all .4s linear;
            z-index: 100;

            .logo_div{
                .logo{
                    font-size: 35px;
                    color: black;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 700;
                    transition:  all .4s linear;

                    .logo_mini_part{
                        color: rgb(182, 24, 45);
                    }
                }
            }

            .menu{
                width: 50%;
                height: 100%;
                
                ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;

                    li{
                        list-style: none;

                        a{
                            text-decoration: none;
                            color: #000;
                            font-size: 18px;
                            font-family: 'Ubuntu', sans-serif;
                            font-weight: 500;
                            transition: all .2s linear;

                            &::after{
                                content: "";
                                width:0%;
                                height: 2px;
                                background: rgb(214, 25, 25);
                                display: block;
                                margin: auto;
                                border-radius: 10px;
                                transition: all .2s linear;
                                
                            }

                            &:hover{
                                color: rgb(214, 25, 25);
                            }
                            &:hover::after{
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .toggle_btn{
                display: none;
            }

            // scroll toggle 
            &.active{
                background: rgb(231, 28, 62);
                height: 70px;
                position: fixed;
                top: 0;

                .logo_div{
                    .logo{
                        color: white;
                        text-shadow: 2px 10px 20px rgb(0,0,0.8);
                    }

                    .logo_mini_part{
                        color: rgb(0, 140, 255);
                    }
                }

                .menu{
                    ul{
                        li{
                            a{
                                color: white;
                                &::after{
                                    background: white;
                                }

                                &:hover{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .header_content{
            width: 100%;
            height: calc(100% - 100px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 0 100px;

            .header_mini_content{
                width: 50%;
                margin-left: 50px;
                height: inherit;
                font-family: 'Ubuntu', sans-serif;

                h1{
                    font-size: 60px;
                }

                h4{
                    font-size: 25px;
                }

                p{
                    font-size: 40px;
                    margin: 10px 0 30px 0;

                    span{
                        color: rgb(219, 43, 57);
                        font-size: 45px;
                    }
                }

                a{
                    padding: 10px 20px;
                    border: 2px solid rgb(219, 43, 57);
                    background: rgb(219, 43, 57);
                    color: #fff;
                    border-radius: 5px;
                    font-size: 25px;
                    text-decoration: none;
                    transition: all .4s linear;

                    &:hover{
                        background: transparent;
                        color: rgb(219, 43, 57);
                    }

                }
            }
            .header_mini_content2{
                width: 50%;
                height: inherit;
                text-align: center;

                img{
                    width: 100%;
                    height: inherit;
                }
            }
        }
    }


}


// about site styling ----------------------------------------->

.main_about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .child_about{
        width: 90%;
        height: inherit;
        padding: 50px 0px;

        .about_title{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: $ubuntu;
            margin-top: 30px;

            h2{
                font-size: 40px;
                font-weight: 500;
                color: black;
            }

            .about_mini_title{
                width: 250px;
                margin: 20px 0 0 0;
                display: flex;
                justify-content: space-around;
                align-items: center;

                span:nth-child(1),span:nth-child(3){
                    width: 60px;
                    height: 3px;
                    background: black;
                    display: block;
                    border-radius: 10px;
                }

                span:nth-child(2){
                    color: rgb(218, 33, 33);
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .about_content{
            width: 100%;
            height: inherit;
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 50px;
            font-family: $ubuntu;

            .left_content{
                width: 50%;
                height: 100%;
                display: grid;
                place-items: center;

                figure{
                    width: 90%;
                    height: 90%;

                    img{
                        width: inherit;
                        height: inherit;
                        box-shadow: 2px 4px 4px 3px rgba($color: #4d4343, $alpha: 0.1);
                        border-radius: 3px;
                    }
                }
            }
            .right_content{
                width: 50%;

                button{
                    padding: 10px 15px;
                    border: 2px solid rgb(218, 33, 33);
                    background: rgb(218, 33, 33);
                    border-radius: 5px;
                    margin-top: 20px;
                    transition: all .3s linear;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-family: $ubuntu;
                        font-size: 20px;
                        font-weight: 500;

                        &:hover{
                            color: rgb(218, 33, 33);
                        }
                    }
                    &:hover{
                        background: white;
                    }
                }
            }
        }
    }
}
